<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
</head>
<body>
  <a href='/'>Home</a>
  <%= yield %>
  <p>There are <%= @users.count %> users with a total of <%= count_interests %> interests.</p>
</body>
</html>
